
#grid{
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows:12rem 3rem 30rem ;
  grid-template-areas: 
    "h"
    "n"
    "m"
}
html{
  background: rgb(27, 27, 27);
}
header{
  background: rgb(255, 174, 0);
  grid-area: h;
}
nav{
  grid-area: n;
}
main{
  grid-area: m;
}
li{
  list-style: none;
}
article{
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}