
/* basis coomponenten */
*{
  overflow-x: hidden;
  --header-bg: rgb(255, 174, 0);
  --white-filler: rgb(201, 201, 201)
}
#grid{
  display: grid;
  grid-template-columns: 4fr;
  grid-template-rows:12rem 3rem 30rem ;
  grid-template-areas: 
    "h"
    "n"
    "m"
}
html{
  background: rgb(27, 27, 27);
}
header{
  background: var(--header-bg);
  grid-area: h;
}
nav{
  grid-area: n;
  overflow-y: hidden;
  display: none;
}
main{
  grid-area: m;
}
h2{
  color: var(--white-filler);
}

/* menu/filtermenu */

.menu{
  list-style: none;
  display: inline-block;
  margin-right: 0.5rem;
}
.filterMenu{
  display: inline-block;
}

/* animatie */
.cards {
	list-style: none;
	white-space: nowrap;
	overflow: scroll;
  scroll-snap-type: x mandatory;
  overflow-y:hidden ;
}
.cards li {
	display: inline-block;
	aspect-ratio: 1;
  scroll-snap-align: center;
  view-timeline-name: --li-in-and-out-of-view;
	view-timeline-axis: inline;
  animation: linear;
	animation-timeline: --li-in-and-out-of-view;
  perspective: 40rem;
  overflow: hidden;
}

.cards li > img {
	animation: linear rotate-cover both;
	animation-timeline: --li-in-and-out-of-view;
}

@keyframes rotate-cover {
	0% {
		transform: translateX(-100%) rotateY(-95deg);
	}
	35% {
		transform: translateX(0) rotateY(-45deg);
	}
	50% {
		transform: rotateY(0deg) translateZ(0em) scale(1);
	}
	65% {
		transform: translateX(0) rotateY(45deg);
	}
	100% {
		transform: translateX(100%) rotateY(95deg);
	}
}

/* overig */

.arrows{
  display: none;
}

/* telefoon filtermenu */
@media only screen and (max-width: 600px) {
  nav{
    display: block;
  }
  .htmlButton, .cssButton, .jsButton{
    background: var(--header-bg);
  }
  #allBtn{
    background: var(--header-bg);
  }
  .htmlbar{
    display: none;
  }
  .cssbar{
    display: none;
  }
  .jsbar{
    display: none;
  }
  .allToggle{
    display: none;
  }
  .htmlToggle{
    display: block;
  }
  .cssToggle{
    display: block;
  }
  .jsToggle{
    display: block;
  }
  .arrows{
    margin: 0 auto;
    width:8rem;
    color: var(--white-filler);
    display: flex;
  }
}